.vertical-navbar {
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
}

.vertical-menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Hide the submenu by default */
#dramasSubmenu {
  display: none;
  /* Optionally add transition for a smooth effect */
  transition: display 0.1s ease;
}

/* Show the submenu when hovering over the parent item */
.nav-item:hover #dramasSubmenu {
  display: block;
}

.nav-link {
  padding: 10px 20px;
  text-align: left;
  color: #000;
  text-decoration: none;
}

.nav-link:hover, .nav-link:active {
  background-color: #ffb700;
  color: #ffffff;
}

.nav-pills li a:hover {
    background-color: #ffb700;
}

.dropdown-toggle {
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-toggle:hover {
  background-color: #ffb700; /* Background saat hover */
  color: #ffb700; /* Warna teks saat hover */
  border: 10px 20px solid #ffb700; /* Border saat hover */
}

hr {
  border-top: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-edit, .btn-delete, .btn-send-email {
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.btn-edit {
  background-color: #007bff;
}

.btn-edit:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: #dc3545;
}

.btn-delete:hover {
  background-color: #c82333;
}

.btn-send-email {
  background-color: #ff8800;
}

.btn-send-email:hover {
  background-color: #ff7300;
}

.nav-link.active {
  background-color: #ffb700 !important;
}

.no-column {
  white-space: nowrap;
  width: 7%;
  text-align: center;
}

.country-column, .genre-column, .year-column, .award-column, .actorName-column, 
.birthDate-column, .picture-column, .username-column, .email-column, .username-column, .rate-column {
  white-space: nowrap;
  width: auto;
  text-align: left;
}

.actions-column {
  white-space: nowrap;
  width: 10%;
  text-align: center;
}

.drama-column {
  white-space: nowrap;
  width: 10%;
  text-align: left;
}

.comments-column, .synopsis-column {
  max-width: 250px;
  overflow: hidden;
  word-wrap: break-word; /* Atau gunakan word-break: break-all; */
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-img-left {
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-right: 10px;
}

.card-body {
  position: relative;
}

.card-body .btn-warning {
  position: absolute;
  top: -10px;
  right: -10px;
}

.card-body .card-title {
  position: left;
}

.footer {
  background-color: #ffb700;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .vertical-navbar {
    width: 100%;
    height: auto;
    position: static;
  }

  .vertical-menu {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
  }

  .nav-link {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .vertical-menu {
    flex-direction: column;
    align-items: center;
  }
}
